<label>Country:</label>
{{md-select
  content=countries
  optionLabelPath="content.name"
  optionValuePath="content.name"
  value=model.country
  selection=selectedCountry
  action="countrySelected"
  prompt="Select a Country ..."}}<br>
<label>State:</label>
{{md-select
  content=currentStates
  value=model.state
  selection = selectedState
  action="stateSelected"
  prompt="Select a State..."}}<br>
