<label class='input-label'>Country:</label>
{{view "select"
class='browser-default'
  content=countries
  optionLabelPath="content.name"
  optionValuePath="content.name"
  value=model.country
  selection=selectedCountry
  action="countrySelected"
  prompt="Select a Country ..."}}<br>
<label class='input-label'>State:</label>
{{view "select"
  class='browser-default'
  content=currentStates
  value=model.state
  selection = selectedState
  action="stateSelected"
  prompt="Select a State..."}}<br>
