@import 'materialize';
@import 'ember-cli-materialize';

body{
  margin: 0 auto
}

div#content{
  margin:10px;
}

div#list{
  display: inline-block;
  
}

nav{
  background-color: #00bcd4;
  padding: 5px;
  margin-bottom: 40px;
  height: 70px;
  
  
  h2#title{
    margin: 0px;
    padding-left: 5px;
  }
}
  
form {
  width: 35%;
  line-height: .2;
  margin-top: 30px;
  display: inline-block;
  float: left;


  input[type=text] {
    height: 2.2rem;
    margin-left: 5px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 2px;
    margin-bottom: 30px; 
  }
  input[type=tel] {
    height: 2.2rem;
    margin-left: 5px;
    margin-bottom: 30px;    
  }
  input[type=email] {
    height: 2.2rem;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  div.input-field {
   margin-top: 6px;
  }
  .input-field label {
    font-size: 0.9rem;
    top: 1.2rem;
   }
  label.input-error {
    margin-left: 30px;
  }
  label.active {
    top: 3.4rem;
    margin-left:0px;
  }
  label.input-label{
    margin-left: 10px;
    font-size: 14px;
  }
  select{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  div.select-component{
    
  }
}

a.btn-primary{
  position: absolute;
  top: 80px;  
  left: 10px;
  font-size: 16px;
}

button{
  margin-bottom: 25px;
  
  &[type=submit]{
    background-color: #00bcd4;
  }
}

a#cancel-contact{
  margin-bottom: 25px;
}

div.header{
  display: block;
  background-color: #FFFFFF;
}


ul#index{
  margin-left: 5%;
  display: inline-block;
  width: 60%;
  overflow:hidden;

  ul.contact-data{
    width: 45%;
    margin:0 auto;
    display: inline-block;
    float:left;
    margin-top: 30px;
    margin-left: 30px;

  }
  a.contact-name{
  font-size: 20px;
  display:inline-block;
  }
  li{
      width:100%;
      display:block;
      margin: 0 auto;
      margin-right:16px;
      list-style-type: none;
  }
}
